<div class="jumbotron">
    <h1>GDPR Request</h1>
    <p class="lead">Use this consumer facing app for GDPR Requests!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Links:</h2>
        <p>Use these links to submit your requests</p>
        <p><a href="/Home/GDPRRequest">Submit a Request</a></p>
        <p><a href="/Home/DataExport">View Current Requests</a></p>
    </div>    
</div>
